{% trans_default_domain "CscfaCSManagerProjectBundle_view_Project_selectProject" %}

{{ dump(project) }}

<div class="col-xs-12">
    <div class="col-xs-12 col-md-8">
        <span class="col-xs-4 col-md-3 col-lg-2">{{ "projectName"|trans }}</span>
        <span class="col-xs-8 col-md-9 col-lg-10">{{ project.getName() }}</span>
        
        <span class="col-xs-4 col-md-3 col-lg-2">{{ "projectSummary"|trans }}</span>
        <span class="col-xs-8 col-md-9 col-lg-10">{{ project.getSummary() }}</span>
    </div>
    
    <div class="col-xs-12 col-md-4">
        {% if grantProjectAttribute("status", project) %}
            <span class="col-xs-4 col-md-6 col-lg-4">{{ "projectStatus"|trans }}</span>
            <span class="col-xs-8 col-md-6 col-lg-8">{{ project.getStatus().getName() }}</span>
        {% endif %}
        
        {% if grantProjectAttribute("created", project) %}
            <span class="col-xs-4 col-md-6 col-lg-4">{{ "projectCreated"|trans }}</span>
            <span class="col-xs-8 col-md-6 col-lg-8">{{ project.getCreated().format("Y-m-d H:i:s") }}</span>
        {% endif %}
        
        {% if grantProjectAttribute("updated", project) %}
            <span class="col-xs-4 col-md-6 col-lg-4">{{ "projectUpdated.title"|trans }}</span>
            {% if project.getUpdated() %}
                <span class="col-xs-8 col-md-6 col-lg-8">{{ project.getUpdated().format("Y-m-d H:i:s") }}</span>
            {% else %}
                <span class="col-xs-8 col-md-6 col-lg-8">{{ "projectUpdated.neverUpdated"|trans }}</span>
            {% endif %}
        {% endif %}
        
        {% if grantProjectAttribute("active", project) %}
            <span class="col-xs-4 col-md-6 col-lg-4">{{ "projectActive.title"|trans }}</span>
            {% if project.isDeleted() %}
                <span class="col-xs-8 col-md-6 col-lg-8">{{ "projectActive.deleted"|trans }}</span>
            {% else %}
                <span class="col-xs-8 col-md-6 col-lg-8">{{ "projectActive.undeleted"|trans }}</span>
            {% endif %}
        {% endif %}
    </div>
</div>

{% if grantProjectAttribute("tags", project) %}
<div class="col-xs-11 cs-fieldset">
    <h4 class="cs-fieldset-head">{{ "projectTags.title"|trans }}</h4>
    <div class="cs-fieldset-body">
        {% for tag in project.getTags() %}
            {{ dump(tag) }}
        {% else %}
            <p>{{ "projectTags.noTags"|trans }}</p>
        {% endfor %}
    </div>
</div>
{% endif %}

{% if grantProjectAttribute("links", project) %}
<div class="col-xs-11 cs-fieldset">
    <h4 class="cs-fieldset-head">{{ "projectLinks.title"|trans }}</h4>
    <div class="cs-fieldset-body">
        {% for link in project.getLinks() %}
            {{ dump(link) }}
        {% else %}
            <p>{{ "projectLinks.noLinks"|trans }}</p>
        {% endfor %}
    </div>
</div>
{% endif %}

{% if grantProjectAttribute("notes", project) %}
<div class="col-xs-11 cs-fieldset">
    <h4 class="cs-fieldset-head">{{ "projectNotes.title"|trans }}</h4>
    <div class="cs-fieldset-body">
        {% for notes in project.getNotes() %}
            {{ dump(notes) }}
        {% else %}
            <p>{{ "projectNotes.noNotes"|trans }}</p>
        {% endfor %}
    </div>
</div>
{% endif %}
