{% import "CscfaCSManagerCoreBundle:Macro:form.html.twig" as formTool %}
{% trans_default_domain "CscfaCSManagerProjectBundle_view_Project_selectProject" %}

{% include "CscfaCSManagerProjectBundle:Project/select:general.html.twig" %}

{% include "CscfaCSManagerProjectBundle:Project/select:tags.html.twig" %}

{% include "CscfaCSManagerProjectBundle:Project/select:links.html.twig" %}

{% include "CscfaCSManagerProjectBundle:Project/select:notes.html.twig" %}

{% javascripts '@CscfaCSManagerCoreBundle/Resources/public/js/csAjaxForm.js' %}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% image '@CscfaCSManagerCoreBundle/Resources/public/image/Loader/gears100.svg' %}
    <script>
    	var ajaxFormTool = ajaxForm({
        	htmlTarget: "<div class='dialog-helper' title='{{ "ajaxFromScript.title"|trans }}'><div class='cs-center'><img src='{{ asset_url }}' alt='loading'/></div></div>",
    		submitingHtml: "<div class='dialog-helper' title='{{ "ajaxFromScript.title"|trans }}'><div class='cs-center'><img src='{{ asset_url }}' alt='loading'/></div></div>",
    		submitErrorHtml: "<p style='text-align: center;'>{{ "ajaxFromScript.errorOccured"|trans }}</p>",
    		ajaxErrorHtml: "<p style='text-align: center;'>{{ "ajaxFromScript.errorOccured"|trans }}</p>",
    		submit: function(selfRef, form, htmlTarget, firstEvent){
    			$.ajax({
    				type:form.method, 
    				data: $(form).serialize(), 
    				url:form.action,
    				beforeSend: function(){
    					$(htmlTarget).html(selfRef.submitingHtml);
    				},
    				success: function(data){
    					$(firstEvent.currentTarget).attr("value", data);
    					$(firstEvent.currentTarget).html(data+'<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>');
    					$(htmlTarget).remove();
    				},
    				error: function(jqXHR, textStatus, errorThrown){
    					$(htmlTarget).html(selfRef.submitErrorHtml+jqXHR.responseText);
    				}
    			});
    		}
        });
    	ajaxFormTool.run();
    	
    	var ajaxFormToolButton = ajaxForm({
        	selector: ".cs-ajax-field-button",
        	htmlTarget: "<div class='dialog-helper' title='{{ "ajaxFromScript.title"|trans }}'><div class='cs-center'><img src='{{ asset_url }}' alt='loading'/></div></div>",
    		submitingHtml: "<div class='dialog-helper' title='{{ "ajaxFromScript.title"|trans }}'><div class='cs-center'><img src='{{ asset_url }}' alt='loading'/></div></div>",
    		submitErrorHtml: "<p style='text-align: center;'>{{ "ajaxFromScript.errorOccured"|trans }}</p>",
    		ajaxErrorHtml: "<p style='text-align: center;'>{{ "ajaxFromScript.errorOccured"|trans }}</p>",
    		submit: function(selfRef, form, htmlTarget, firstEvent){
    			$.ajax({
    				type:form.method, 
    				data: $(form).serialize(), 
    				url:form.action,
    				beforeSend: function(){
    					$(htmlTarget).html(selfRef.submitingHtml);
    				},
    				success: function(data){
    					$(htmlTarget).remove();
    					pageLoader.reload();
    				},
    				error: function(jqXHR, textStatus, errorThrown){
    					$(htmlTarget).html(selfRef.submitErrorHtml+jqXHR.responseText);
    				}
    			});
    		}
        });
    	ajaxFormToolButton.run();
    </script>
{% endimage %}
