
<div class="row" style="overflow: hidden;">
{{ form_start(form) }}
	<div class="col-xs-12">
		<div class="cs-center col-xs-12">
			{{ form_label(form.summary) }}
		</div>
		<div class="col-xs-12">
			{{ form_widget(form.summary, {attr: {class: "form-control cs-width-lock"}}) }}
		</div>
		<p class="text-muted">Note you can use markdown for summary</p>
		{{ form_row(form.summary) }}
	</div>
	
	<div class="cs-center col-xs-12">
		{{ form_row(form.submit) }}
	</div>
{{ form_end(form) }}
</div>
