{% extends 'CscfaCSManagerCoreBundle:Default:base.html.twig' %}
{% trans_default_domain "CscfaCSManagerSecurityBundle_view_security_confirmationByMail" %}

{% block title %}SCM - {{ "pageTitle"|trans }}{% endblock %}

{% block stylesheets %}

    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ path("core_css_tool") }}"/> 
    
{% endblock %}

{% block body %}
    {{ parent() }}
        
    {% if success %}
        <div class="col-xs-12 col-md-10 col-md-offset-1">
            
            <h3>{{ "success.title"|trans }}</h3>
            
            <p>
                {{ "success.info"|trans }}
            </p>
            
            <p>
                {{ "success.bye"|trans }}
            </p>
            
            <div class="cs-center">
                <div>
                    <a class="btn btn-primary" href="{{ path("core_home_index") }}">{{ "success.return"|trans }}</a>
                </div>
            </div>
            
        </div>
    {% else %}
        <div class="col-xs-12 col-md-10 col-md-offset-1">
            
            <h3>{{ "error.title"|trans }}</h3>
            
            <p>
                {{ "error.info"|trans }}
            </p>
            
            <p>
                {{ "error.bye"|trans }}
            </p>
            
            <div class="cs-center">
                <div>
                    <a class="btn btn-primary" href="{{ path("core_home_index") }}">{{ "error.return"|trans }}</a>
                </div>
            </div>
            
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
