{% extends 'CscfaCSManagerCoreBundle:Default:base.html.twig' %}
{% import "CscfaCSManagerSecurityBundle:Tool:registerForm.html.twig" as formTool %}
{% trans_default_domain "CscfaCSManagerSecurityBundle_view_security_register" %}

{% block title %}SCM - {{ "pageTitle"|trans }}{% endblock %}

{% block stylesheets %}

    {{ parent() }}

    <link rel="stylesheet" type="text/css" href="{{ path("core_css_tool") }}"/> 
    <link rel="stylesheet" type="text/css" href="{{ path("security_css_register") }}"/>
    
    
{% endblock %}

{% block body %}
    {{ parent() }}
    
    {% if success %}
        
        <div class="col-xs-12 col-md-10 col-md-offset-1">
            
            <h3>{{ "success.title"|trans }}</h3>
            
            <p>
                {{ "success.created"|trans }}
            </p>
            
            {% if preference.getConfiguration().getSignInVerifyEmail() %}
                <p class="text-info">
                    {{ "success.email"|trans }}
                </p>
            {% endif %}
            
            <p>
                {{ "success.bye"|trans }}
            </p>
            
            <div class="cs-center">
                <div>
                    <a class="btn btn-primary" href="{{ path("core_home_index") }}">{{ "success.return"|trans }}</a>
                </div>
            </div>
            
        </div>
        
    {% else %}
        
        {% if signinAllowed %}
        
            <div class="col-xs-12 col-md-10 col-md-offset-1">
                {% set secondary %}
                    <a class="btn btn-info" href="{{ path("core_home_index") }}">{{ "error.return"|trans }}</a>
                {% endset %}
                {{ formTool.registerForm(form, secondary) }}
            </div>
        {% endif %}
        
    {% endif %}
    
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
